<!-- <h1>LongestWord#score</h1>
<p>Find me in app/views/longest_word/score.html.erb</p>
 -->
<h1>You entered the word:<%= @attempt %></h1>
<p>Answer Time: <%=@result[:time]%></p>
<p>Translation: <%=@result[:translation]%></p>
<p>Your score: <%=@result[:score]%></p>
<p>Feedback: <%=@result[:message]%></p>
Add Comment
